@model List<UserIndexModel>

<br />
<div class="navbar-collapse collapse d-sm-inline-flex align-items-center">
    <h3 class="me-3">Liste des joueurs</h3>
    @if (User.IsInRole("admin"))
    {
        <a class="btn" asp-area="" asp-controller="User" asp-action="Create"><i class="fa-regular fa-chess-king"></i> Enregistrer un nouveau joueur</a>
    }
</div>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Date de naissance</th>
            <th>Genre</th>
            <th>Elo</th>
            <th>Role</th>
            <th>Tournoi inscrit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.Birthdate</td>
                <td>@item.Genre</td>
                <td>@item.Elo</td>
                <td>@item.Role</td>
                <td>@item.Registrations</td>
                <td>
                    <a class="btn btn-sm" asp-action="Detail" asp-route-id="@item.Id" title="Voir">
                        <i class="fa-regular fa-chess-knight"></i>
                    </a>
                    <a class="btn btn-sm" asp-action="Delete" asp-route-id="@item.Id" title="Supprimer">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>