@model List<TournamentIndexModel>

<br />
<div class="navbar-collapse collapse d-sm-inline-flex align-items-center">
    <h3 class="me-3">Liste des tournois</h3>
    @if (User.IsInRole("admin"))
    {
        <a class="btn" asp-area="" asp-controller="Tournament" asp-action="Create"><i class="fa-regular fa-chess-king"></i> Creer un nouveau tournoi</a>
    }
</div>
<br />
<br />
<table class="table table-bordered">
     <thead>
         <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Lieu</th>
            <th>Joueurs</th>
            <th>Catégories</th>
            <th>Elo min</th>
            <th>Elo max</th>
            <th>Status</th>
            <th>Limite inscription</th>
            <th>Ronde</th>
            <th></th> 
         </tr> 
     </thead> 
     <tbody> 
         @foreach (var item in Model) 
         { 
             <tr> 
                <td>@item.Id</td> 
                <td>@item.Name</td>
                <td>@item.Place</td>
                <td>@item.NbPlayer / @item.MaxPlayer </td>
                <td>@string.Join(" - ", item.Categories)</td>
                <td>@item.MinElo</td>
                <td>@item.MaxElo</td>
                <td>@item.Status</td>
                <td>@item.CloseDate</td>
                <td>@item.CurrentRound</td>
                <td>
                    <a class="btn btn-sm" asp-action="Detail" asp-route-id="@item.Id">
                        <i class="fa-regular fa-chess-knight"></i>
                        Voir
                    </a>
                    @if (User.IsInRole("admin"))
                    {
                        <a class="btn btn-sm" asp-action="Edit" asp-route-id="@item.Id" title="Editer">
                            <i class="fa-regular fa-chess-bishop"></i>
                        </a>
                        <a class="btn btn-sm" asp-action="Delete" asp-route-id="@item.Id" title="Supprimer">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    }
                </td>
            </tr> 
         } 
     </tbody> 
</table>